<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.2/phpunit.xsd">
    <filter>
        <whitelist>
            <directory>src/</directory>
            <exclude>
                <directory>src/Archiweb/Model/</directory>
                <directory>src/Archiweb/Module/UserFeature</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>